@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans+JP:wght@500&display=swap');

body {
	font-family: 'Fira Sans', sans-serif;
	/* font-family: 'Noto Sans JP', sans-serif; */
}
.font-family{
	font-family: 'Noto Sans JP', sans-serif;
}
.my-bg1 {
	background: #0b0b0b4f;
	color: white;
	box-shadow: 10px 10px 20px #353535,-10px -10px 64px #fff;
	border-radius: 20px;
}
.my-bg2 {
	background: #d1d1d14f;
	color: white;
	box-shadow: 10px 10px 20px #353535,-10px -10px 64px #fff;
	border-radius: 20px;
}
.bg-custom {
	background: linear-gradient(217deg, rgba(0, 255, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
		linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(255, 0, 234, 0.8), rgba(0, 0, 255, 0) 70.71%);

}

/* result page  */

section {
	height: 100vh;
	width: 100%;
	background-image: url("img/isaac-benhesed-onLbXleIkds-unsplash-removebg-preview.png");
	background-repeat: no-repeat;
	background-size: cover;

}

.fas.fa-angry {
	font-size: 70px;
	color: red;
}

.fas.fa-smile {
	font-size: 70px;
	color: rgb(255, 0, 242);
}